.categoryCard {
  background-color: rgb(226, 226, 226);
  text-align: left;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

.nameAmountContainer > p {
  display: inline-block;
}

.nameAmountContainer > *:not(:last-child) {
  margin-right: 1rem;
}

.categoryCard > * {
  margin-left: 1rem;
}
