.container {
  background-color: rgb(214, 214, 214);
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
<<<<<<< HEAD
=======
}

.header {
>>>>>>> 50142d1d66d91d1c526960ce8ef3fb7b62545436
  text-align: center;
}
